aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1742268596946/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1734244716962/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
bleach==6.2.0
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
bokeh==3.7.2
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1740094013202/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560556141/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1731428302318/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1652661982895/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1741148389277/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1733249551891/work
docopt @ file:///home/conda/feedstock_root/build_artifacts/docopt_1733817844261/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1741969488311/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1738940303262/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1737645236190/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1741403990995/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1735929639977/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1733462551614/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1741710986684/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1741457126/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1725459255340/work
linkify-it-py==2.0.3
llvmlite==0.44.0
loguru @ file:///home/conda/feedstock_root/build_artifacts/loguru_1725349737789/work
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplotlib==3.10.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdit-py-plugins==0.4.2
mdurl==0.1.2
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1725975021365/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1742308123521/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1731723208925/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1742841036354/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1739224698611/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1730588024163/work/dist/numpy-2.1.3-cp313-cp313-linux_x86_64.whl#sha256=3afc3896acd35a4cb4e82f6f2b36a5252a5f291108718002728cb49eff19531d
optree @ file:///home/conda/feedstock_root/build_artifacts/optree_1741963793705/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878403859/work
panel==1.6.2
param==2.2.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1735929688808/work
pipreqs==0.4.13
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1742240435426/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1733421311631/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1737635528546/work
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1741124571582/work/bazel-bin/python/dist/protobuf-5.29.3-cp313-abi3-linux_x86_64.whl#sha256=91d8da280b2a7d158584cc0a085a7a9ac85ed590b8b27436b6d2555bac3f6085
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1740663131878/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==19.0.1
pybind11 @ file:///D:/bld/pybind11-split_1730237329882/work
pybind11_global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1730237328107/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1738346561094/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1734193530377/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
PySide6==6.8.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyvista @ file:///home/conda/feedstock_root/build_artifacts/pyvista_1734299008442/work
pyviz_comms==3.0.4
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454647378/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1741805129954/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1730952226786/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
responses @ file:///home/conda/feedstock_root/build_artifacts/responses_1643839609465/work
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rpds-py_1743037947/work
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1740651473232/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1736496745920/work/dist/scikit_learn-1.6.1-cp313-cp313-linux_x86_64.whl#sha256=d95aa585d4be3c6fa9f19265162749c371f7a348da2578b142d9a17040c8d5c4
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1739790645292/work/dist/scipy-1.15.2-cp313-cp313-linux_x86_64.whl#sha256=9233a1b3513262c15ef8696233b9abd49f691223e9dcc32da39377a3a0d4e7fe
scooby @ file:///home/conda/feedstock_root/build_artifacts/scooby_1734299019922/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
setuptools==75.8.2
shiboken6==6.8.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1727986692822/work
stpyvista==0.1.4
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1741740033449/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1736248176451/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1733649050774/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tokenizers @ file:///home/conda/feedstock_root/build_artifacts/tokenizers_1741890291002/work/bindings/python
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1741947876257/work
torchvision @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchvision_1739668812/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1732615881993/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1742577674804/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
uc-micro-py==1.0.3
umap-learn @ file:///home/conda/feedstock_root/build_artifacts/umap-learn_1739236149447/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
vtk==9.3.1
watchdog @ file:///home/conda/feedstock_root/build_artifacts/watchdog_1730492879209/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webencodings==0.5.1
wordcloud @ file:///home/conda/feedstock_root/build_artifacts/wordcloud_1733148722495/work
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1742768409749/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1740594782459/work
xyzservices==2025.1.0
yarg==0.1.9
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1737575777699/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
